:root {
  /* font */
  --font-family: "Roboto", sans-serif;
  
  /* color */
  --color-black: #242222;
  --color-1: #2581d9;
  --color-2: #41bef7;
  --color-text: #636060;
  --color-3: #bceafe;
  --color-4: #f6ecff;
  --color-5: #024260;
}

body {
  font-family: var(--font-family);
  min-width: 320px;
}

/* container */
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

/* btn */
.btn {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: var(--color-1);
  transition: background-color .35s ease, transform .35s ease;
}
.btn:focus {
  outline-color: #fff;
}
.btn:hover {
  background-color: var(--color-2);
}
.btn:active {
  transform: scale(0.95);
}